{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-console": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "consistent-return": "off"
  },
  "overrides": [
    {
      "files": "**/*.+(md)",
      "extends": ["plugin:mdx/recommended"]
    },
    {
      "files": "**/*.+(ts)",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
      ],
      "rules": {
        "no-console": "off",
        "@typescript-eslint/no-var-requires": "off",
        "no-await-in-loop": "off",
        "no-restricted-syntax": "off",
        "no-underscore-dangle": "off",
        "@typescript-eslint/no-this-alias": "off",
        "func-names": "off",
        "consistent-return": "off"
      }
    }
  ]
}
